body {
    margin: 0;
    background: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
}

#container {
    width: 80%;
    padding: 50px;
    margin: 0 auto;
    font-size: 48px;
}

header {
    background: #55d6aa;
}

header::after {
    content: '';
    display: table;
    clear: both
}

header h1 {}

/* These are referencing that nav bar in the header */
nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;
}

nav a {
    color: #444;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 20px;
}

nav a:hover {
    color: #000;
}

#hero {
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url('../assets/images/background.png');
    background-size: cover;
    background-position: center;
}

/* This is referencing the container for the about me section */
#about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 300px;
}

#about h2 {
    flex: 0 0 20%;
    border-right: 2px solid black;
    padding: 30px;
    margin: 30px;
}

#about div {
    flex: 0 0 75%;
    height: 100%;
    padding: 30px;
}

/* This is referencing the container for the work (where I will put my projects) container */
#work {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 300px;
}

#work h2 {
    flex: 0 0 20%;
    border-right: 2px solid black;
    padding: 30px;
    margin: 30px;
}

.big-container {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: flex-start;
    position: relative;
    right: 25%;
}

.products {
    flex: 4;
    background-color: #fff;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
}

.card {
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    flex: 0 0 300px;
    margin: 10px;
}

/* This is referencing the footer where my contact me section container is */
#contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 300px;
}

#contact h2 {
    flex: 0 0 20%;
    border-right: 2px solid black;
    padding: 30px;
    margin: 30px;
}

#contact div {
    flex: 0 0 75%;
    height: 100%;
}

footer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer ul li {
    display: inline-block;
    /* text-align: left;  */
    /* float: right; */
    margin-right: 10%;
    padding-top: 25px;
    list-style-type: none;
    flex-direction: row;
}

@media-screen and max width