body {
    margin: 0;
    background: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
}

#container {
    width: 80%;
    padding: 50px;
    margin: 0 auto;
    font-size: 48px;
}

header {
    background: #55d6aa;
}

header::after {
    content: '';
    display: table;
    clear: both
}

header h1 {
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;
}

nav a {
    color: #444;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 20px;
}

nav a:hover {
    color: #000;
}

#hero {
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url('../assets/images/background.png');
    background-size: cover;
    background-position: center;
}

.lesson {
   text-align: left; 
}

.products {
    flex: 4;
    background-color: #fff;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
  }

footer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer ul li {
    display: inline-block;
    text-align: left; 
    float: right;
    margin-right: 400px;
    padding-top: 25px;
    list-style-type: none;
}